* {
  margin: 0;
  padding: 0;
}

body {
  background: #e96443;
  background: -webkit-linear-gradient(to right, #904e95, #e96443);
  background: linear-gradient(to right, #904e95, #e96443);
}

.heading {
  display: flex;
  justify-content: center;
  margin: 30px;
}
